 html {
 	height: 100%;
 }

body {
    background-image: url("../img/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-background {
	padding: 25px 30px;
	border-top: 2px solid #7B2A3B;
	border-bottom: 2px solid #7B2A3B;
	margin-top: 47%;
	background-color: #1F1F22;
	color: white;
}

@media (max-width: 775px ) {
	.about-background {
		margin-top: 94%;
	}
}