/*Removes whitespace between navbar and image below*/
.head,
.nav-main {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  /*Hides scroll bars for navbar*/ }

body {
  background-color: black; }

/*Slides*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

/*Hamburger menu*/
#cpBtn {
  background-color: transparent;
  margin-top: 12px;
  float: left;
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid transparent; }

#cpBtn > div.end {
  width: 10px;
  height: 2px;
  background: white;
  margin: 3px 0px;
  border-radius: 2px; }

#cpBtn > div.mid {
  width: 15px;
  height: 2px;
  background: white;
  margin: 3px 0px;
  border-radius: 2px; }

/*Navbar*/
.menu-handle {
  width: 100%;
  display: none; }

.menu-text {
  font-size: 15px;
  font-weight: bold;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  line-height: 90px; }

.logo-handle {
  width: 100%;
  display: none; }

.logo-text {
  color: #4C130C;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
  line-height: 55px;
  font-weight: bold;
  font-family: 'Eczar', serif;
  font-size: 200%;
  padding: 5px;
  text-align: center; }

.logo-img-handle {
  position: relative;
  right: 17px;
  width: 100%;
  display: none; }

.logo-img {
  float: left;
  padding: 5px;
  box-sizing: border-box; }

.logo {
  float: left;
  color: #5C292E;
  text-align: left;
  font-weight: bold;
  font-family: 'Eczar', serif;
  font-size: 150%;
  line-height: 5px; }

.logo-responsive {
  height: 80px; }

.fa-close.nav-close {
  display: none; }

.nav-main {
  height: 60px;
  background: #000000; }

.nav-list {
  line-height: 5px; }

nav ul {
  position: relative;
  width: 100%;
  padding: 10px;
  float: left;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  line-height: 45px;
  font-family: 'Eczar', serif;
  clear: both; }

nav ul li {
  float: left;
  display: inline-block;
  /*takes off bullet points and inlines*/
  padding: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  margin-right: 20px; }

nav ul li:hover {
  color: #FE4C6E; }

a {
  text-decoration: none;
  color: inherit;
  /*when hovered it takes color around it*/ }

/*Social Media Header */
.head {
  height: 40px;
  width: 100%;
  background-color: #5C292E; }

header ul {
  padding: 12px; }

header ul li {
  color: white;
  margin-left: 20px;
  display: inline-block; }

/*NEWS BAR*/
.news-bar {
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 2px;
  border-top: 4px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black; }

.news-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: white; }

.news {
  border-top: 1px solid gray; }

/*Grid*/
.grid-box {
  margin-bottom: 15px; }

.grid {
  position: relative;
  bottom: 2px;
  background-color: black; }

.blue-square {
  position: relative;
  background-color: #404C72;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block; }

.feb5-container {
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block; }

.feb5-overlay {
  background-color: #404C72;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.blue-square .feb5msg {
  position: absolute;
  top: 25%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 300px;
  visibility: hidden;
  font-size: 100%;
  font-weight: bold;
  color: white; }

.feb5:hover .feb5msg {
  visibility: visible; }

/*************************************/
.pink-square {
  position: relative;
  background-color: #FE4C6E;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block; }

.apr27-container {
  position: relative;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block; }

.pink-square .apr27-overlay {
  position: absolute;
  background-color: #FE4C6E;
  width: 100%;
  height: 100%; }

.pink-square .apr27msg {
  position: absolute;
  top: 25%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 300px;
  visibility: hidden;
  font-size: 100%;
  font-weight: bold;
  color: white; }

.apr27:hover .apr27msg {
  visibility: visible; }

/*************************************/
.purple-square {
  position: relative;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block;
  background-color: #4C3A50; }

.maroon-square {
  position: relative;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block;
  background-color: #6A262B; }

.green-square {
  position: relative;
  margin: 3px;
  width: 23%;
  height: 300px;
  display: inline-block;
  background-color: #0E5A4C; }

.transparent-overlay {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%; }

.maroon-square:hover,
.pink-square:hover,
.green-square:hover,
.blue-square:hover,
.purple-square:hover {
  opacity: 10.0; }

.bottom-box {
  margin-bottom: 25px; }

.nav-text {
  font-size: 125%;
  text-align: center;
  letter-spacing: 2px;
  line-height: 300px;
  /*same height as div so it is vertically aligned*/
  color: white;
  font-weight: bold; }

/*MUSIC BAR*/
.music-bar {
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 3px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black; }

.music-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC; }

.fa.fa-soundcloud,
.fa.fa-spotify.player {
  font-size: 45px;
  padding-top: 5px; }

/*Shows Bar*/
.shows-bar {
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black; }

.shows-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC; }

/*Shows*/
.shows {
  position: relative;
  bottom: 5px;
  padding: 30px 0;
  background-color: black; }

.blue-square-shows {
  width: 100%;
  height: 115px;
  background-color: #404C72;
  opacity: 10.0; }

.pink-square-shows {
  width: 100%;
  height: 110px;
  background-color: #FE4C6E;
  opacity: 10.0; }

.purple-square-shows {
  width: 100%;
  height: 110px;
  background-color: #4C3A50;
  opacity: 10.0; }

.maroon-square-shows {
  width: 100%;
  height: 110px;
  background-color: #6A262B;
  opacity: 10.0; }

.green-square-shows {
  width: 100%;
  height: 110px;
  background-color: #0E5A4C;
  opacity: 10.0; }

.maroon-square-shows:hover,
.pink-square-shows:hover,
.green-square-shows:hover,
.blue-square-shows:hover,
.purple-square-shows:hover {
  border: 1px solid white; }

/*Videos Bar*/
.videos-bar {
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 3px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black; }

.videos-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC; }

.carousel-vids {
  border-bottom: 75px solid black; }

/*Contact*/
.email-form {
  position: relative;
  bottom: 5px; }

.contact-bar {
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black; }

.contact-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC; }

.social-icons li {
  margin: 0 15px;
  display: inline-block; }

.email-button {
  background-color: #2B343F;
  /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(left, #475462, #2B343F);
  /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(to right, red, yellow);
  /* Standard syntax */ }

.email-form {
  background-color: black;
  /* For browsers that do not support gradients */
  background-color: -webkit-linear-gradient(left, black, #171113);
  /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(to right, red, yellow);
  /* Standard syntax */ }

/*Removes whitespace between navbar and image below*/
.nav-main {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  /*Hides scroll bars for navbar*/ }

img.bg {
  /* Set rules to fill background */
  min-height: 200%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

@media (min-width: 775px) {
  img.bg {
    position: relative;
    bottom: 10%; } }
.about-me {
  padding: 25px 30px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  background-color: #1F1F22;
  color: white; }

@media (min-width: 776px) {
  .home-button {
    display: none; } }
/*Overidden bootstrap styles*/
#bootstrap-overrides1.carousel-indicators .active,
#bootstrap-overrides2.carousel-indicators .active {
  background-color: #FE4C6E; }

#bootstrap-overrides1.carousel-indicators li,
#bootstrap-overrides2.carousel-indicators li {
  border: 1px solid gray; }

#bootstrap-overrides.carousel-inner > .item > img {
  width: auto;
  height: auto; }

/*# sourceMappingURL=application.css.map */
