/*Navbar*/
@media (max-width: 775px) {

    .logo{
      display: none;
    }

    .fa-close.nav-close{
      display: block;
      position: absolute;
      color: white;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }

    .showing {
      transform: translateX(0); /*shows responsive navbar*/
    }

    nav ul {
    float: left;
    position: relative;
    background: black;
    height: 40%;
    width: 25%;
    position: fixed;
    transform: translateX(-100%); /*hides responsive navbar*/
    transition: transform 0.6s ease;
    z-index: 100; /*this allows overlay over the bootstrap slider image*/
    }

    nav ul li {
    width: 100%;
    box-sizing: border-box; /*doesn't expand dimensions of div when padding is applied. It leaves original dimensions.*/
    padding: 2px;
    margin: 20px 20px 20px 0;
    text-align: left;
    display: inline-block;
    font-family: 'Eczar', serif;
    }

    .link{
      float: left;
    }

    .menu-handle {
      display: block;
    } 

    .logo-handle {
      text-align: center;
      display: block;
    } 

    .logo-img-handle {
      display: block;
    } 

    .logo-text {
      margin-right: 35px;
    }
}

@media (max-width: 320px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 384px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 470px) {
   .navbar-brand.title {
      position: relative;
      bottom: 8px;
      right: 12px;
      width: 55%;
   }
}

/*Navbar links*/
@media (min-width: 776px) { 
  .move-right {
    float: right;
  }
}

/*Gridbox*/

@media (max-width: 975px) {
.maroon-square,
.pink-square,
.green-square,
.blue-square,
.purple-square {
      width: 47%;
   }
}

@media (max-width: 561px) {
.maroon-square,
.pink-square,
.green-square,
.blue-square,
.purple-square {
      width: 97%;
   }
}

@media (max-width: 561px) {
.maroon-square,
.pink-square,
.green-square,
.blue-square,
.purple-square {
      width: 97%;
      height: 200px;
   }
  .nav-text {
    line-height: 200px;
  }
  .top-box {
    margin-top: 25px;
  }
  .last-box {
    margin-bottom: 25px;
  }
  .blue-square .feb5msg,
  .pink-square .apr27msg {
    line-height: 200px;
  }
}

/*Shows*/
@media (max-width: 615px) {
  .maroon-square-shows,
  .pink-square-shows,
  .green-square-shows,
  .blue-square-shows,
  .purple-square-shows {
    font-size: 60%;
  }
}

@media (max-width: 445px) {
  .maroon-square-shows,
  .pink-square-shows,
  .green-square-shows,
  .blue-square-shows,
  .purple-square-shows {
    font-size: 50%;
  }
}

@media (max-width: 374px) {
  .maroon-square-shows,
  .pink-square-shows,
  .green-square-shows,
  .blue-square-shows,
  .purple-square-shows {
    font-size: 30%;
  }
}

/*Bars*/
@media (max-width: 561px) {
  .news-bar,
  .music-bar,
  .videos-bar,
  .shows-bar,
  .contact-bar {
    height: 75px;
  }

  .news-text,
  .music-text,
  .videos-text,
  .shows-text,
  .contact-text {
    font-size: 75%;
    line-height: 30px;
  }
}

/*Soundcloud and Spotify favicon*/
@media (max-width: 415px) {
  .fa.fa-soundcloud,
  .fa.fa-spotify.player {
   font-size: 25px;
   padding-top: 5px;
  }
  .spotify-player {
    height: 500px;
  }
}

/*Soundcloud and Spotify player*/
@media (max-width: 998px) {
  .spotify-player {
    height: 310px;
  }
}

/*Contact Form*/
@media (max-width: 415px) {
  .submitButton {
    position: relative;
    top: 7px;
  }
}

@media (max-width: 415px) {
  #news {
    /*display: none;*/
  }
}
