/*NEWS BAR*/

.news-bar{
  position: relative;
  bottom: 2px;
  border-top: 4px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black;
}

.news-text{
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: white;
}

.news{
  border-top: 1px solid gray;
}
