/*Shows Bar*/
.shows-bar{
  font-family: 'Oswald', sans-serif;
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 2px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black;
}


.shows-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC;;
}

/*Shows*/

.shows-month {
  line-height:115px; 
  margin-left: 5%; 
  font-size: 100%; 
  color: white;
}

.shows-day { 
  line-height:115px; 
  font-size: 150%; 
  font-weight:bold; 
  color: white;
}

.shows-city {
  line-height:115px; 
  font-size: 150%; 
  font-weight: bold; 
  color: white; 
  margin-left: 2%;
}

.shows-venue {
  line-height:115px; 
  margin-left: 2%; 
  font-size: 150%; 
  font-style: italic; 
  color: #8C838E;
}

.shows{
  position: relative;
  bottom: 5px;
  padding: 30px 0;
  background-color: black;
}

.blue-square-shows {
  width: 100%;
  height: 115px;
  background-color: #404C72;
  opacity: 10.0;
}

.pink-square-shows {
  width: 100%;
  height: 110px;
  background-color: #FE4C6E; 
  opacity: 10.0;
}

.purple-square-shows {
  width: 100%;
  height: 110px;
  background-color: #4C3A50;
  opacity: 10.0;
}

.maroon-square-shows {
  width: 100%;
  height: 110px;
  background-color: #6A262B;
  opacity: 10.0;
}

.green-square-shows {
  width: 100%;
  height: 110px;
  background-color: #0E5A4C;
  opacity: 10.0;
}

.maroon-square-shows:hover,
.pink-square-shows:hover,
.green-square-shows:hover,
.blue-square-shows:hover,
.purple-square-shows:hover {
  border: 1px solid white;
}

.showing {
  display: none;
}
