/*MUSIC BAR*/
.music-bar{
  position: relative;
  bottom: 5px;
  border-top: 2px solid #7B2A3B;
  border-bottom: 3px solid #7B2A3B;
  width: 100%;
  height: 100px;
  background: black;
}

.music-text{
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
  color: #CCCCCC;;
}
